:root 
{
    background-color: rgb(157,129,192);
    color: white;
}
img 
{
    display: block;
    margin:  auto;   
}
h1 
{
    color: white;
    font-size: 45px;
    text-align: center;
}
h2, h3, h4, h5, h6 
{
    color: white;
    font-size: 45px;
    text-align: center;
}
p 
{
    font-size: 45px;
    color: white;
    text-align: center;
}
a 
{
    color: #706f6f;
}

